/* Custom styles to complement Bootstrap */
.bg-opacity-10 {
  --bs-bg-opacity: 0.1;
}

.cursor-pointer {
  cursor: pointer;
}

/* Hover effects */
.border-secondary:hover {
  border-color: #6c757d !important;
}

/* Transition effects */
.border,
.bg-primary,
.bg-light,
.text-primary,
.text-muted {
  transition: all 0.2s ease-in-out;
}

/* side bar design */
.bg-sidebar{
  background-color: #f6f7fb;
  border-radius: 12px;
}

.content-area{
  padding: 40px 90px !important;
}